html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    position: absolute;
}
::-webkit-scrollbar-thumb {
    background: #6d6d6d69;
    border-radius: 5px;
}

body {
    width: 100vw;
    background-color: #131313;
}

/*Form -----------------------------------------*/
.container {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 20px 30px;
    margin-top: 10px;
    gap: 30px;
}
.form-title {
    color: #6d6d6d;
    font-size: 30px;
    font-weight: 500;
    grid-column: 1/2;
}
.form-container {
    width: 90%;
    grid-column: 2/3;
    background-image: url(../images/banner-form.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.form-banner {
    width: 100%;
}

/*Footer ---------------------------------------*/
footer {
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
    color: #444444;
    background-color: #131313;
    
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
}